<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Actuar
    body
        h1 Logs
        
        ul
            each log in logs 
                li= log.timestamp + ': [' + log.instance + '] -' + log.message